// Normally mainpage styles 
//+font('Conv_SegoePrintRegular', 'SegoePrintRegular')


input.error, textarea.error
  box-shadow: inset 0 0 10px red !important
label.error
  display: none !important


.icon
  display: inline-block
  position: relative

body
  font-size: 16px
  line-height: 1.4
  background-color: #fff
  color: #5a5a5a
  +pfl
.out
  position: relative
input, textarea
  +placeholder
    font-size: 16px
    color: #8c8c8c
    +pfl
%in
  max-width: 1200px
  width: 1000px
  margin-left: auto
  margin-right: auto

.myFancyClose
  position: absolute
  top: -17px
  right: -18px

.btn
  display: inline-block
  +border-radius(4px)
  text-decoration: none
  padding: 10px 20px
  +transition(background, .5s)
.title
  text-align: center
  font-size: 60px
  +pfl
  line-height: 1.3em
  span
    font-family: 'conv_pfdintextcondpro-bold'
    text-transform: uppercase


header
  background: url(../img/header_bg.jpg) center no-repeat
  +background-size(cover)
  height: 900px
  .header_in
    @extend %in
    +clr
    padding-top: 25px
  .top
    background: rgba(#fff, 0.7)
    height: 100px

  nav
    float: left
    ul
      font-size: 18px
      padding: 0
      li
        display: inline-block
        float: left
        margin-right: 16px
        font-family: 'conv_pfdintextcondpro-lightital'
        border-right: solid 1px
        color: #5a5a5a
        line-height: 1em
        &:last-child
        border: none
        a
          color: inherit
          padding-right: 20px
          &:hover
            text-decoration: none


  .top_phone
    float: right
    text-align: right
    margin-top: 5px
    +clr
    h2
      font-size: 36px
      color: #5a7328
      margin: 0
      font-family: 'conv_pfagoraslabpro-light'
      line-height: 1em
      span
        font-family: 'conv_pfagoraslabpro-bold'
  .top_about
    float: left
    margin-top: 22px
    ul
    li
      display: inline-block
      float: left
      font-family: 'conv_pfdintextcondpro-regular'
      font-size: 18px
      color: #e65a32
      text-transform: uppercase
      span
        font-family: 'conv_pfdintextcondpro-medium'
  .header_main_top
    text-align: left
    h1
      color: #5a960a
      text-align: left
    h2
      color: #3c6e00
      font-size: 24px
  .header_main_main
    .header_left
      width: 360px
      float: left
      .header_p
        font-size: 18px
        color: #3c6e00




footer

